.page-wrapper{
    font-size:2rem ;
}
.sample{
    color: red;
}

.red {
    color: green;
}

.orange{
    color: pink;
}

div#store.menu{
    color: orange !important;
}

.sections.nav-sections{
    background-color: red;
}
.nav-sections {
    background:  red;
    font-family: Aerial;
}
